@layer sf.states {
  .sf-tag.sf-tag--color.disabled > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--icon.disabled > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--default.disabled > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--avatar.disabled > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-disable);
  }
}
@layer sf.overrides {
  .sf-tag.sf-tag--color > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--icon > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--default > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon, .sf-tag.sf-tag--avatar > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-surface-variant);
    --sf-close-icon--border-color: var(--sf-outline);
  }
  .sf-tag.sf-tag--size-1\/2 > sf-icon-button > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > sf-close > .sf-close > .sf-close-icon {
    --sf-close-icon--font-size: var(--sf-text-size-1\/4);
    --sf-close-icon--height: var(--sf-text-size-1\/4);
    --sf-close-icon--width: var(--sf-text-size-1\/4);
  }
}
