@layer sf.components {
  sf-tabs .sf-tabs-top > sf-button,
  sf-tabs .sf-tabs-top > sf-icon-button,
  sf-tabs .sf-tabs-top > [role=tab] > sf-button,
  sf-tabs .sf-tabs-top > [role=tab] > sf-icon-button {
    display: contents;
  }
  sf-tabs .sf-tabs-top > [role=tab] {
    display: flex;
  }
}
@layer sf.overrides {
  sf-tabs .sf-tabs-top sf-button > .sf-button,
  sf-tabs .sf-tabs-top sf-icon-button > .sf-icon-button {
    min-width: 0;
    min-width: var(--sf-tabs-smart-action--min-width, 0);
  }
  sf-tabs .sf-tabs--full .sf-tabs-top sf-button > .sf-button,
  sf-tabs .sf-tabs--full .sf-tabs-top sf-icon-button > .sf-icon-button {
    flex: 1;
  }
  sf-tabs .sf-tabs--full .sf-tabs-top > [role=tab] {
    flex: 1;
  }
}
