@layer sf.components {
  [dir="ltr"] .sf-tree > sf-tree-item > .sf-tree-item .sf-tree-item {
    padding-left: var(--sf-space-3);
    padding-left: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
  [dir="rtl"] .sf-tree > sf-tree-item > .sf-tree-item .sf-tree-item {
    padding-right: var(--sf-space-3);
    padding-right: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
  [dir="ltr"] .sf-tree > sf-tree-item > .sf-tree-item .sf-tree-item {
    padding-left: var(--sf-space-3);
  }
  [dir="rtl"] .sf-tree > sf-tree-item > .sf-tree-item .sf-tree-item {
    padding-right: var(--sf-space-3);
  }
  .sf-tree > sf-tree-item > .sf-tree-item .sf-tree-item {
    -webkit-padding-start: var(--sf-space-3);
            padding-inline-start: var(--sf-space-3);
    -webkit-padding-start: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
            padding-inline-start: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
}
