@layer sf.components {
  sf-table > * .table > :not(caption) > * > * {
    vertical-align: middle;
    padding-top: var(--sf-space-1);
    padding-bottom: var(--sf-space-1);
    padding-block: var(--sf-space-1);
  }
  .sf-table-context-menu {
    max-width: calc(var(--sf-g2) + var(--sf-b6));
    width: 100%;
  }
  sf-table > .sf-table thead th[data-key=select] {
    --sf-table--select-column-width: var(--sf-text-height-1);
    width: var(--sf-table--select-column-width);
  }
  sf-table > .sf-table thead th[data-key=settings] {
    --sf-table--settigs-column-width: calc(var(--sf-text-height-1) + var(--sf-ui-1--space-y-tightness-default));
    width: var(--sf-table--settigs-column-width);
    text-align: center;
  }
  [dir="ltr"] sf-table th {
    border-left-width: var(--sf-px);
  }
  [dir="rtl"] sf-table th {
    border-right-width: var(--sf-px);
  }
  [dir="ltr"] sf-table th {
    border-left-style: solid;
  }
  [dir="rtl"] sf-table th {
    border-right-style: solid;
  }
  [dir="ltr"] sf-table th {
    border-left-color: transparent;
  }
  [dir="rtl"] sf-table th {
    border-right-color: transparent;
  }
  [dir="ltr"] sf-table th {
    border-right-width: var(--sf-px);
  }
  [dir="rtl"] sf-table th {
    border-left-width: var(--sf-px);
  }
  [dir="ltr"] sf-table th {
    border-right-style: solid;
  }
  [dir="rtl"] sf-table th {
    border-left-style: solid;
  }
  [dir="ltr"] sf-table th {
    border-right-color: transparent;
  }
  [dir="rtl"] sf-table th {
    border-left-color: transparent;
  }
  sf-table th {
    border-inline-start-width: var(--sf-px);
    border-inline-start-style: solid;
    border-inline-start-color: transparent;
    border-inline-end-width: var(--sf-px);
    border-inline-end-style: solid;
    border-inline-end-color: transparent;
  }
  [dir="ltr"] sf-table th.hover {
    border-right-color: inherit;
  }
  [dir="rtl"] sf-table th.hover {
    border-left-color: inherit;
  }
  sf-table th.hover {
    border-inline-end-color: inherit;
  }
  sf-table th.is-resizing {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  [dir="ltr"] sf-table th.is-resizing-forward {
    border-right-color: var(--sf-primary);
  }
  [dir="rtl"] sf-table th.is-resizing-forward {
    border-left-color: var(--sf-primary);
  }
  sf-table th.is-resizing-forward {
    border-inline-end-color: var(--sf-primary);
  }
  [dir="ltr"] sf-table th.is-resizing-backward {
    border-left-color: var(--sf-primary);
  }
  [dir="rtl"] sf-table th.is-resizing-backward {
    border-right-color: var(--sf-primary);
  }
  sf-table th.is-resizing-backward {
    border-inline-start-color: var(--sf-primary);
  }
  sf-table th.is-column-dragging,
  sf-table td.is-column-dragging {
    background-color: color-mix(in srgb, var(--sf-primary) 14%, transparent);
    color: transparent;
  }
  sf-table th.is-column-dragging > *,
  sf-table td.is-column-dragging > * {
    opacity: 0;
  }
  [dir="ltr"] sf-table th.is-column-drag-before {
    border-left-color: var(--sf-primary);
  }
  [dir="rtl"] sf-table th.is-column-drag-before {
    border-right-color: var(--sf-primary);
  }
  sf-table th.is-column-drag-before {
    border-inline-start-color: var(--sf-primary);
  }
  [dir="ltr"] sf-table th.is-column-drag-after {
    border-right-color: var(--sf-primary);
  }
  [dir="rtl"] sf-table th.is-column-drag-after {
    border-left-color: var(--sf-primary);
  }
  sf-table th.is-column-drag-after {
    border-inline-end-color: var(--sf-primary);
  }
  sf-table th.is-column-drag-before::before,
  sf-table th.is-column-drag-after::after {
    background-color: var(--sf-primary);
    height: 100%;
    block-size: 100%;
    content: "";
    width: calc(var(--sf-px) * 2);
    inline-size: calc(var(--sf-px) * 2);
    top: 0;
    inset-block-start: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  [dir="ltr"] sf-table th.is-column-drag-before::before {
    left: 0;
  }
  [dir="rtl"] sf-table th.is-column-drag-before::before {
    right: 0;
  }
  sf-table th.is-column-drag-before::before {
    inset-inline-start: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  [dir="ltr"] sf-table th.is-column-drag-after::after {
    right: 0;
  }
  [dir="rtl"] sf-table th.is-column-drag-after::after {
    left: 0;
  }
  sf-table th.is-column-drag-after::after {
    inset-inline-end: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .sf-table-column-drag-ghost {
    align-items: center;
    background-color: var(--sf-primary-container);
    border: var(--sf-px) solid var(--sf-primary);
    box-shadow: var(--sf-shadow-3);
    display: flex;
    opacity: 0.92;
    padding-top: var(--sf-space-1);
    padding-bottom: var(--sf-space-1);
    padding-block: var(--sf-space-1);
    padding-left: var(--sf-space-1);
    padding-right: var(--sf-space-1);
    padding-inline: var(--sf-space-1);
  }
  .sf-table-column-dragging,
  .sf-table-column-dragging * {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
  }
  .sf-table-column-resizing,
  .sf-table-column-resizing * {
    cursor: col-resize !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
  }
  sf-table > .sf-table thead th[data-key=actions] {
    --sf-table--actions-column-width: var(--sf-f0);
    width: var(--sf-table--actions-column-width);
  }
  sf-table > .sf-table thead {
    background-color: var(--sf-table-head--background-color);
  }
  sf-table > * .sf-table-avatar {
    max-width: var(--sf-table-avatar--max-width);
  }
  .sf-table-context-menu .sf-tabs-top-container {
    --sf-tabs-top-container--padding-inline-end: var(--sf-space-2);
    --sf-tabs-top-container--padding-inline-start: var(--sf-space-2);
    --sf-tabs-top-container--padding-top: var(--sf-space-2);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-top {
    padding-right: var(--sf-table-context-top--padding-inline-end);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-top {
    padding-left: var(--sf-table-context-top--padding-inline-end);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-top {
    padding-left: var(--sf-table-context-top--padding-inline-start);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-top {
    padding-right: var(--sf-table-context-top--padding-inline-start);
  }
  .sf-table-context-menu .sf-table-context-top {
    --sf-table-context-top--padding-inline-end: var(--sf-space-2);
    --sf-table-context-top--padding-inline-start: var(--sf-space-2);
    --sf-table-context-top--padding-top: var(--sf-space-2);
    padding-bottom: 0;
    padding-bottom: var(--sf-table-context-top--padding-bottom, 0);
    padding-top: var(--sf-table-context-top--padding-top);
    -webkit-padding-end: var(--sf-table-context-top--padding-inline-end);
            padding-inline-end: var(--sf-table-context-top--padding-inline-end);
    -webkit-padding-start: var(--sf-table-context-top--padding-inline-start);
            padding-inline-start: var(--sf-table-context-top--padding-inline-start);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-main {
    padding-right: var(--sf-table-context-main--padding-inline-end);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-main {
    padding-left: var(--sf-table-context-main--padding-inline-end);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-main {
    padding-left: var(--sf-table-context-main--padding-inline-start);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-main {
    padding-right: var(--sf-table-context-main--padding-inline-start);
  }
  .sf-table-context-menu .sf-table-context-main {
    --sf-table-context-main--padding-inline-end: var(--sf-space-2);
    --sf-table-context-main--padding-inline-start: var(--sf-space-2);
    padding-bottom: 0;
    padding-bottom: var(--sf-table-context-main--padding-bottom, 0);
    padding-top: 0;
    padding-top: var(--sf-table-context-main--padding-top, 0);
    -webkit-padding-end: var(--sf-table-context-main--padding-inline-end);
            padding-inline-end: var(--sf-table-context-main--padding-inline-end);
    -webkit-padding-start: var(--sf-table-context-main--padding-inline-start);
            padding-inline-start: var(--sf-table-context-main--padding-inline-start);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-bottom {
    padding-right: var(--sf-table-context-bottom--padding-inline-end);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-bottom {
    padding-left: var(--sf-table-context-bottom--padding-inline-end);
  }
  [dir="ltr"] .sf-table-context-menu .sf-table-context-bottom {
    padding-left: var(--sf-table-context-bottom--padding-inline-start);
  }
  [dir="rtl"] .sf-table-context-menu .sf-table-context-bottom {
    padding-right: var(--sf-table-context-bottom--padding-inline-start);
  }
  .sf-table-context-menu .sf-table-context-bottom {
    --sf-table-context-bottom--padding-inline-end: var(--sf-space-2);
    --sf-table-context-bottom--padding-inline-start: var(--sf-space-2);
    --sf-table-context-bottom--padding-bottom: var(--sf-space-2);
    padding-bottom: var(--sf-table-context-bottom--padding-bottom);
    padding-top: 0;
    padding-top: var(--sf-table-context-bottom--padding-top, 0);
    -webkit-padding-end: var(--sf-table-context-bottom--padding-inline-end);
            padding-inline-end: var(--sf-table-context-bottom--padding-inline-end);
    -webkit-padding-start: var(--sf-table-context-bottom--padding-inline-start);
            padding-inline-start: var(--sf-table-context-bottom--padding-inline-start);
  }
  [dir="ltr"] .sf-table-context-menu .sf-context-menu-columns {
    padding-right: var(--sf-context-menu-columns--padding-inline-end);
  }
  [dir="rtl"] .sf-table-context-menu .sf-context-menu-columns {
    padding-left: var(--sf-context-menu-columns--padding-inline-end);
  }
  [dir="ltr"] .sf-table-context-menu .sf-context-menu-columns {
    padding-left: var(--sf-context-menu-columns--padding-inline-start);
  }
  [dir="rtl"] .sf-table-context-menu .sf-context-menu-columns {
    padding-right: var(--sf-context-menu-columns--padding-inline-start);
  }
  .sf-table-context-menu .sf-context-menu-columns {
    --sf-context-menu-columns--padding-inline-end: var(--sf-space-2);
    --sf-context-menu-columns--padding-inline-start: var(--sf-space-2);
    --sf-context-menu-columns--padding-top: var(--sf-space-2);
    --sf-context-menu-columns--padding-bottom: var(--sf-space-2);
    padding-bottom: 0;
    padding-bottom: var(--sf-context-menu-columns--padding-bottom, 0);
    padding-top: var(--sf-context-menu-columns--padding-top);
    -webkit-padding-end: var(--sf-context-menu-columns--padding-inline-end);
            padding-inline-end: var(--sf-context-menu-columns--padding-inline-end);
    -webkit-padding-start: var(--sf-context-menu-columns--padding-inline-start);
            padding-inline-start: var(--sf-context-menu-columns--padding-inline-start);
  }
  .sf-table-context-menu .sf-tabs-main-container {
    --sf-tabs-main-container--padding-top: 0;
    --sf-tabs-main-container--padding-bottom: 0;
  }
  .sf-table-context-menu .sf-settings-context-menu-item [data-keep]:not(.sf-button-pinned) {
    opacity: 0;
  }
  .sf-table-context-menu .sf-settings-context-menu-item.is-dragging {
    opacity: 0.8;
    box-shadow: var(--sf-shadow-3);
  }
  .sf-table-context-menu .sf-settings-context-menu-item.drag-placeholder {
    opacity: 0.32;
    pointer-events: none;
  }
}
@layer sf.states {
  .sf-table-context-menu .sf-settings-context-menu-item:hover [data-keep] {
    opacity: 1;
  }
}
@layer sf.overrides {
  .sf-icon-button.sf-button-pinned .sf-icon {
    --sf-button-pinned--color: var(--sf-primary);
    --sf-icon--color: var(--sf-button-pinned--color);
  }
  .sf-table-context-menu .sf-context-menu-content {
    /*--sf-context-menu-content--padding-bottom: var(--sf-space-2);*/
    /*--sf-context-menu-content--padding-inline-end: var(--sf-space-2);*/
    /*--sf-context-menu-content--padding-inline-start: var(--sf-space-2);*/
    /*--sf-context-menu-content--padding-top: var(--sf-space-2);*/
    --sf-context-menu-content--padding-bottom: 0;
    --sf-context-menu-content--padding-inline-end: 0;
    --sf-context-menu-content--padding-inline-start: 0;
    --sf-context-menu-content--padding-top: 0;
  }
  .sf-table-context-menu .sf-settings-context-menu-item .sf-icon-button {
    --sf-icon-button--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  sf-table > * .sf-search-input.sf-input.sf-input--size-1 .sf-input-field {
    --sf-input-field--padding-bottom: var(
            --sf-ui-1\/3--space-y-tightness-default
    );
    --sf-input-field--padding-top: var(--sf-ui-1\/3--space-y-tightness-default);
  }
  sf-table > * .sf-search-input.sf-input.sf-input--size-1 .sf-icon-button--size-1 {
    --sf-icon-button--padding-bottom: var(
            --sf-ui-1\/3--space-y-tightness-default
    );
    --sf-icon-button--padding-inline-end: var(
            --sf-ui-1\/3--space-y-tightness-default
    );
    --sf-icon-button--padding-inline-start: var(
            --sf-ui-1\/3--space-y-tightness-default
    );
    --sf-icon-button--padding-top: var(--sf-ui-1\/3--space-y-tightness-default);
  }
  sf-table .sf-avatar-label-group-container {
    flex: 1 1 auto;
    min-width: 0;
  }
  sf-table .sf-avatar-label-group-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
