@layer sf.components {
    .sf-editor {
        --sf-editor-toolbar-bg: var(--sf-surface-1);
        --sf-editor-toolbar-border-color: var(--sf-outline-variant);
        --sf-editor-toolbar-button-color: var(--sf-on-surface-variant);
        --sf-editor-toolbar-button-active-color: var(--sf-primary);
        --sf-editor-toolbar-button-hover-bg: var(--sf-primary-90--alfa-12, var(--sf-neutral-90--alfa-12));
        --sf-editor-surface-min-height: calc(var(--sf-text-height-1, 1.5rem) * 4);
    }


    .sf-editor-control {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        min-height: 0;
    }

    .sf-editor-toolbar {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        --sf-editor-toolbar--border-top-width: 1px;
        --sf-editor-toolbar--border-inline-end-width: 1px;
        --sf-editor-toolbar--border-bottom-width: 0;
        --sf-editor-toolbar--border-inline-start-width: 1px;
        --sf-editor-toolbar--border-color: var(--sf-outline-variant);
        --sf-editor-toolbar--border-start-end-radius:  var(--sf-ui-radius-default);
        --sf-editor-toolbar--border-end-start-radius: 0;
        --sf-editor-toolbar--border-start-start-radius: var(--sf-ui-radius-default);
        --sf-editor-toolbar--border-end-end-radius: 0;
        border-top-width: var(--sf-editor-toolbar--border-top-width);
        border-right-width: var(--sf-editor-toolbar--border-inline-end-width);
        border-bottom-width: var(--sf-editor-toolbar--border-bottom-width);
        border-left-width: var(--sf-editor-toolbar--border-inline-start-width);
        border-color: var(--sf-editor-toolbar--border-color);
        border-bottom-right-radius: var(--sf-editor-toolbar--border-end-end-radius);
        border-bottom-left-radius: var(--sf-editor-toolbar--border-end-start-radius);
        border-top-right-radius: var(--sf-editor-toolbar--border-start-end-radius);
        border-top-left-radius: var(--sf-editor-toolbar--border-start-start-radius);

    }

    .sf-editor-surface {
        color: var(--sf-on-surface);
        cursor: text;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        min-height: var(--sf-editor-surface-min-height);
        outline: none;
        overflow: auto;
        padding-bottom: var(--sf-textarea-textarea--padding-bottom);
        padding-right: var(--sf-textarea-textarea--padding-inline-end);
        padding-left: var(--sf-textarea-textarea--padding-inline-start);
        padding-top: var(--sf-textarea-textarea--padding-top);
    }

    .sf-editor-surface .tiptap {
        min-height: inherit;
        outline: none;
    }

    .sf-editor-surface .tiptap > :first-child {
        margin-top: 0;
    }

    .sf-editor-surface .tiptap > :last-child {
        margin-bottom: 0;
    }

    .sf-editor-surface .tiptap p.is-editor-empty:first-child::before {
        color: var(--sf-on-surface-variant);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    .sf-editor-textarea {
        height: 1px;
        border: 0;
        width: 1px;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        resize: none;
    }
}

@layer sf.overrides {
    .sf-editor .sf-textarea-input {
        --sf-textarea-textarea--border-start-end-radius: 0;
        --sf-textarea-textarea--border-start-start-radius: 0;
    }
}

