.dc-hero {
  &--content {
    padding-block: var(--dc-hero-padding-block);
  }
  &--background {
    backdrop-filter: blur(--dc-hero-backround--backdrop-filter, var(--sf-blur-small));
    --sf-gradient--color-1: var(--sf-on-surface-inverse);
    --sf-gradient--color-2: var(--sf-white--alfa-4);
  }
}
