.bottom {
  &--navigation {
    &_text {
      > div {
        &:first-child {
          color: var(--sf-secondary);
        }
      }
    }
    [class^="bottom--navigation-item_"] {
      border: 1px solid #c5c5c5;
      background-color: #ebebeb;
      max-width: calc(50% - 10px);
      transition: .3s background-color ease;
      &:hover {
        background-color: #acacac;
      }
    }
  }
}
